{
 :substitute
 {
  ["a" "o"] 0.3
  ["a" "e"] 0.3
  ["a" "ä"] 0.7
  ["ä" "e"] 0
  ["b" "p"] 0
  ["c" "g"] 0.3
  ["c" "k"] 0.3
  ["c" "t"] 0.7
  ["c" "z"] 0.3
  ["d" "t"] 0.3
  ["e" "o"] 0.3
  ["e" "ö"] 0.3
  ["e" "i"] 0.7
  ["f" "h"] 0.7
  ["f" "v"] 0
  ["g" "k"] 0.3
  ["i" "u"] 0.7
  ["i" "j"] 0
  ["i" "y"] 0
  ["i" "ü"] 0.3
  ["j" "y"] 0
  ["l" "r"] 0.7
  ["o" "ö"] 0.3
  ["o" "u"] 0.3
  ["r" "s"] 0.7
  ["s" "z"] 0.3
  ["s" "t"] 0.7
  ["s" "ß"] 0.3
  ["ß" "z"] 0.3
  ["t" "z"] 0.7
  ["u" "w"] 0.3
  ["u" "v"] 0
  ["u" "ü"] 0.3  
  }
 }
